@use '../utils/mixins.scss' as *;

.container {
  margin: 0 auto;
  max-width: 1280px;
  min-width: 320px;

  box-sizing: border-box;
  padding: 60px 20px 120px;

  @include for-desktop {
    padding: 120px 120px 182px;
  }

  @include for-tablet {
    padding: 120px 72px;
  }
}
