@use '../utils/mixins.scss' as *;

.contact {
  @include grid;

  &__form {
    grid-column: span 2;

    @include for-desktop {
      grid-column: 1/6;
    }

    @include for-tablet {
      grid-column: 1/4;
    }
  }

  &__address {
    grid-column: span 2;

    @include for-desktop {
      margin: 0;
      grid-column: 8/13;
    }

    @include for-tablet {
      margin: 0;
      grid-column: 4/7;
    }
  }
}
