@use '../utils/mixins.scss' as *;

.footer {
  background-image: url('/src/images/footer-img.jpg');
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: 75% center;
  height: 200px;

  @include for-desktop {
    height: 555px;
    background-size: cover;
    background-position: bottom;
  }
}
