@use '../utils/mixins.scss' as *;

.navigation {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;

  @include for-desktop {
    padding-top: 36px;
  }

  @include for-tablet {
    padding-top: 36px;
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 24px;

    @include for-desktop {
      gap: 32px;
    }

    @include for-tablet {
      gap: 32px;
    }
  }
}
