@use '../utils/mixins.scss' as *;

.product {
  display: flex;
  flex-direction: column;
  height: 100%;

  grid-column: span 2;

  @include for-desktop {
    grid-column: span 4;
  }

  &__image {
    width: 100%;
    max-width: 100%;
    height: auto;
    object-fit: contain;
    transition: 200ms ease;
  }

  &__paragraph {
    font-family: Poppins, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0;
    color: #fff;
  }

  &__price {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #fff;
    margin-top: 16px;
  }

  &__picture {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 10px;
    margin-bottom: 32px;

    &:hover {
      .product__image {
        transform: scale(1.11);
      }
    }
  }

  &__title {
    margin-bottom: 8px;
  }
}
