@use '../utils/mixins.scss' as *;

.section {
  padding-top: 92px;

  &__products {
    @include grid;

    gap: 40px;

    @include for-desktop {
      grid-column: 1/13;
      gap: 24px;
    }
  }
  &--compare-bikes {
    @include for-desktop {
      padding-top: 164px;
    }
  }

  &--details {
    @include for-desktop {
      padding-top: 144px;
    }
  }

  &--contact-us {
    padding-top: 80px;

    @include for-desktop {
      padding-top: 180px;
    }
  }
}
