@import './blocks/title';
@import './blocks/header';
@import './blocks/main';
@import './blocks/section';
@import './blocks/product';
@import './blocks/details';
@import './blocks/button';
@import './blocks/address';
@import './blocks/form';
@import './blocks/footer';
@import './blocks/navigation';
@import './blocks/menu';
@import './blocks/links';
@import './blocks/contact';
@import './blocks/burger';
@import './blocks/phone';
@import './blocks/logo';
@import './blocks/close';
@import './blocks/back';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

.page__body--with-menu {
  overflow: hidden;
}
