@import './blocks/title';
@import './blocks/header';
@import './blocks/main';
@import './blocks/section';
@import './blocks/product';
@import './blocks/details';
@import './blocks/button';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
